{% extends "@setting/base.html.twig" %}
{% block header_title %}Configuration{% endblock %}
{% block breadcrumb_item %}
<li class="breadcrumb-item"><a href="{{ '/' | access_path }}">Home</a></li>
<li class="breadcrumb-item">Settings</li>
<li class="breadcrumb-item">Configuration</li>
<li class="breadcrumb-item active" aria-current="page">{{ module_name | ucfirst }}</li>
{% endblock %}

{% macro text_item(item) %}
<div class="py-2 config-item config-text">
    <label class="form-label w-100"><span class="fw-semibold">{{ item.label ?? item.name }} :</span>
        <input type="text" class="form-control" name="{{ item.name }}"value="{% if item.value %}{{ item.value }}{% else %}{{ item.default }}{% endif %}" {% if item.readonly %}readonly{% endif %} {% if _box.Setting.getRoles.isAllowed(1) == false %}disabled{% endif %} />
        {% if item.help or item.description %}<small class="form-text text-muted">{{ item.description ?? item.help }}</small>{% endif %}
    </label>
</div>
{% endmacro %}

{% macro number_item(item) %}
<div class="py-2 config-item config-number">
    <label class="form-label w-100"><span class="fw-semibold">{{ item.label ?? item.name }} :</span>
        <input type="number" class="form-control" name="{{ item.name }}"value="{% if item.value %}{{ item.value }}{% else %}{{ item.default }}{% endif %}" {% if item.readonly %}readonly{% endif %} {% if _box.Setting.getRoles.isAllowed(1) == false %}disabled{% endif %}/>
        {% if item.help or item.description %}<small class="form-text text-muted">{{ item.description ?? item.help }}</small>{% endif %}
    </label>
</div>
{% endmacro %}


{% macro select_item(item) %}
<div class="py-2 config-item config-select">
    <label class="form-label w-100"><span class="fw-semibold">{{ item.name }} :</span>
        <select class="form-select" name="{{ item.name }}" {% if item.readonly %}readonly{% endif %} {% if _box.Setting.getRoles.isAllowed(1) == false %}disabled{% endif %}>
            {% for option in item.options %}
            <option value="{{ option.value }}" {% if (item.value ?? item.default)==option.value %}selected{% endif %}>{{
                option.label }}</option>
            {% endfor %}
        </select>
        {% if item.help %}<small class="form-text text-muted">{{ item.help }}</small>{% endif %}
    </label>
</div>
{% endmacro %}



{% macro textarea_item(item) %}
<div class="py-2 config-item config-textarea">
    <label class="form-label w-100"><span class="fw-semibold">{{ item.name }} :</span>
        <textarea class="form-control" name="{{ item.name }}" {% if item.readonly %}readonly{% endif %} {% if _box.Setting.getRoles.isAllowed(1) == false %}disabled{% endif %}>{{ item.value ?? item.default }}</textarea>
        {% if item.help %}<small class="form-text text-muted">{{ item.help }}</small>{% endif %}
    </label>
</div>
{% endmacro %}



{% macro checkbox_item(item) %}
<div class="py-2 config-item config-checkbox">
    <label class="form-check-label w-100">
        <input type="checkbox" class="form-check-input" name="{{ item.name }}" value="1" {% if item.value %}checked{% endif %} {% if item.readonly %}readonly{% endif %} {% if _box.Setting.getRoles.isAllowed(1) == false %}disabled{% endif %}/>
        <span class="fw-semibold ms-2">{{ item.label ?? item.name }} </span>
        {% if item.help or item.description %}<small class="form-text text-muted d-block">{{ item.help ?? item.description }}</small>{% endif %}
    </label>
    {% if item.children %}
    <div class="collapse show ps-3 pt-2 ms-1 border-start config-item-children" id="collapse-{{ item.name }}">
        {{ _self.render_item(item.children) }}
    </div>
    {% endif %}
</div>
{% endmacro %}



{% macro radio_item(item) %}
<div class="py-2 config-item config-radio">
    <label class="form-label w-100"><span class="fw-semibold">{{ item.name }} :</span>
        {% for option in item.options %}
        <div class="form-check">
            <input type="radio" class="form-check-input" name="{{ item.name }}" value="{{ option.value }}" {% if item.value==option.value %}checked{% endif %} {% if item.readonly %}readonly{% endif %} {% if _box.Setting.getRoles.isAllowed(1) == false %}disabled{% endif %}/>
            <label class="form-check-label">{{ option.label }}</label>
        </div>
        {% endfor %}
        {% if item.help %}<small class="form-text text-muted">{{ item.help }}</small>{% endif %}
    </label>
</div>
{% endmacro %}



{% macro color_item(item) %}
<div class="py-2 config-item config-color">
    <label class="form-label w-100"><span class="fw-semibold">{{ item.name }} :</span>
        <input style="width: 50px; height: 50px; outline: none; border: none;" type="color" class="form-control p-0" name="{{ item.name }}" value="{{ item.value ?? item.default }}" {% if item.readonly %}readonly{% endif %} {% if _box.Setting.getRoles.isAllowed(1) == false %}disabled{% endif %}/>
        {% if item.help %}<small class="form-text text-muted">{{ item.help }}</small>{% endif %}
    </label>
</div>
{% endmacro %}



{% macro file_item(item) %}
<div class="py-2 config-item config-file">
    <label class="form-label w-100"><span class="fw-semibold">{{ item.name }} :</span>
        <input type="file" class="form-control" name="{{ item.name }}" {% if item.readonly %}readonly{% endif %} {% if _box.Setting.getRoles.isAllowed(1) == false %}disabled{% endif %}/>
        {% if item.help %}<small class="form-text text-muted">{{ item.help }}</small>{% endif %}
    </label>
</div>
{% endmacro %}



{% macro image_item(item) %}
<div class="py-2 config-item config-image">
    <label class="form-label w-100"><span class="fw-semibold">{{ item.name }} :</span>
        <input type="file" class="form-control" name="{{ item.name }}" {% if item.readonly %}readonly{% endif %} {% if _box.Setting.getRoles.isAllowed(1) == false %}disabled{% endif %}/>
        {% if item.help %}<small class="form-text text-muted">{{ item.help }}</small>{% endif %}
    </label>
</div>
{% endmacro %}



{% macro wysiwyg_item(item) %}
<div class="py-2 config-item config-wysiwyg">
    <label class="form-label w-100"><span class="fw-semibold">{{ item.name }} :</span>
        <textarea class="form-control" name="{{ item.name }}" {% if item.readonly %}readonly{% endif %} {% if _box.Setting.getRoles.isAllowed(1) == false %}disabled{% endif %}>{{ item.value ?? item.default }}</textarea>
        {% if item.help %}<small class="form-text text-muted">{{ item.help }}</small>{% endif %}
    </label>
</div>
{% endmacro %}



{% macro datetime_item(item) %}
<div class="py-2 config-item config-datetime">
    <label class="form-label w-100"><span class="fw-semibold">{{ item.name }} :</span>
        <input type="datetime-local" class="form-control" name="{{ item.name }}" value="{{ item.value ?? item.default }}" {% if item.readonly %}readonly{% endif %} {% if _box.Setting.getRoles.isAllowed(1) == false %}disabled{% endif %}/>
        {% if item.help %}<small class="form-text text-muted">{{ item.help }}</small>{% endif %}
    </label>
</div>
{% endmacro %}


{% macro render_item(configs) %}
{% for item in configs %}
{% if item.type == 'text' %}
{{ _self.text_item(item) }}
{% elseif item.type == 'select' %}
{{ _self.select_item(item) }}
{% elseif item.type == 'textarea' %}
{{ _self.textarea_item(item) }}
{% elseif item.type == 'checkbox' %}
{{ _self.checkbox_item(item) }}
{% elseif item.type == 'radio' %}
{{ _self.radio_item(item) }}
{% elseif item.type == 'color' %}
{{ _self.color_item(item) }}
{% elseif item.type == 'file' %}
{{ _self.file_item(item) }}
{% elseif item.type == 'image' %}
{{ _self.image_item(item) }}
{% elseif item.type == 'wysiwyg' %}
{{ _self.wysiwyg_item(item) }}
{% elseif item.type == 'datetime' %}
{{ _self.datetime_item(item) }}
{% elseif item.type == 'number' %}
{{ _self.number_item(item) }}
{% else %}
<p>{{ item.type }} type not found</p>
{% endif %}
{% endfor %}
{% endmacro %}



{% set form_setting %}
{{ _self.render_item(configs) }}
{% endset %}



{% block form %}
<div class="row p-2 p-lg-4">
    <div class="col-12 col-lg-7">
        {{ _self.process(form_setting, module_name) }}
    </div>
</div>
{% endblock %}



{% block javascript %}
{{ parent() }}
<script>

    $('.config-checkbox').each(function() {

        const $input = $(this).find('input[type="checkbox"]').first();
        const $children = $(this).children('.config-item-children');
        if(!$input.is(':checked')) {
            $children.hide();
        }
        $input.on('change', function() {
            if ($(this).is(':checked')) {
                $children.fadeIn(300);
            } else {
                $children.fadeOut(300);
            }
        });

    });
</script>
{% endblock %}