{% extends "@admin::panel/base.html.twig" %}
{% block header_title %}Content{% endblock %}

{% block head_javascripts %}
<script src="{{ '@template/assets/dist/index.bundle.js' | assets }}"></script>
{% endblock %}

{% block subheader_actions %}
<a href="{{ 'article/create' | admin_url }}" class="menu-item">
    <i class="fa fa-plus"></i> new article
</a>
<a href="{{ 'article/options' | admin_url }}" class="menu-item">
    <svg class="inline-block" viewBox="0 0 536.41 506.22" width="16" height="16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="m192.41 0c-39.8 0-72 32.2-72 72v137.27c.10467-.00019.20779-.006.3125-.006 9.5714 0 18.945.79233 28.055 2.3106 6.0729.99014 10.693 5.7431 12.014 11.75l7.6191 34.801v-186.12c0-13.3 10.7-24 24-24h272c13.3 0 24 10.7 24 24v304c0 13.3-10.7 24-24 24h-212.66l23.105 21.023c4.5547 4.0926 6.3369 10.497 4.2246 16.24-1.3497 3.6503-2.8417 7.2221-4.4414 10.736h189.77c39.8 0 72-32.2 72-72v-304c0-39.8-32.2-72-72-72zm-144 56c-13.3 0-24 10.7-24 24v191.83l18.949 6.0234c8.8453-6.799 18.615-12.477 29.045-16.768l.0059-.0273v-181.05c0-13.3-10.7-24-24-24zm176 24c-13.3 0-24 10.7-24 24v80c0 13.3 10.7 24 24 24h96c13.3 0 24-10.7 24-24v-80c0-13.3-10.7-24-24-24zm176 0c-13.3 0-24 10.7-24 24s10.7 24 24 24h32c13.3 0 24-10.7 24-24s-10.7-24-24-24zm0 80c-13.3 0-24 10.7-24 24s10.7 24 24 24h32c13.3 0 24-10.7 24-24s-10.7-24-24-24zm-176 80c-13.3 0-24 10.7-24 24 0 4.3988 1.2568 8.4572 3.3047 11.994l31.139-9.8945c5.8088-1.8483 12.279-.1984 16.174 4.4883 4.5546 5.5104 8.7506 11.327 12.594 17.412h168.79c13.3 0 24-10.7 24-24s-10.7-24-24-24zm54.887 80c1.6953 5.541-.0845 11.561-4.4394 15.475l-28.584 26.008c.28479 2.1489.47487 4.3318.6543 6.5176h185.48c13.3 0 24-10.7 24-24s-10.7-24-24-24z" />
        <path
            d="m240.46 333.62c1.5973 4.3426.24958 9.1844-3.1946 12.279l-21.613 19.667c.54906 4.143.84856 8.3857.84856 12.678s-.2995 8.5355-.84856 12.678l21.613 19.667c3.4442 3.0947 4.7919 7.9365 3.1946 12.279-2.1963 5.9399-4.8418 11.63-7.8866 17.121l-2.346 4.0431c-3.2944 5.4907-6.9881 10.682-11.031 15.574-2.945 3.5939-7.8367 4.7918-12.229 3.3942l-27.803-8.835c-6.6886 5.1413-14.076 9.434-21.963 12.678l-6.2394 28.502c-.9983 4.5423-4.4924 8.1362-9.0846 8.8849-6.8883 1.148-13.976 1.747-21.214 1.747-7.2377 0-14.326-.59899-21.214-1.747-4.5922-.74873-8.0862-4.3426-9.0846-8.8849l-6.2394-28.502c-7.8866-3.2445-15.274-7.5372-21.963-12.678l-27.753 8.8849c-4.3925 1.3976-9.2842.14974-12.229-3.3942-4.0431-4.8917-7.7368-10.083-11.031-15.574l-2.346-4.0431c-3.0448-5.4906-5.6903-11.181-7.8866-17.121-1.5973-4.3426-.24957-9.1844 3.1946-12.279l21.613-19.667c-.54906-4.1929-.84856-8.4357-.84856-12.728s.29949-8.5355.84856-12.678l-21.613-19.667c-3.4441-3.0947-4.7918-7.9365-3.1946-12.279 2.1963-5.9399 4.8418-11.63 7.8866-17.121l2.346-4.0431c3.2944-5.4906 6.9881-10.682 11.031-15.574 2.945-3.5939 7.8367-4.7919 12.229-3.3942l27.803 8.835c6.6886-5.1412 14.076-9.434 21.963-12.678l6.2394-28.502c.99829-4.5423 4.4924-8.1362 9.0846-8.8849 6.8883-1.198 13.976-1.797 21.214-1.797s14.326.599 21.214 1.747c4.5922.74872 8.0863 4.3426 9.0846 8.8849l6.2394 28.502c7.8866 3.2445 15.274 7.5372 21.963 12.678l27.803-8.835c4.3925-1.3976 9.2842-.14975 12.229 3.3942 4.0431 4.8917 7.7369 10.083 11.031 15.574l2.346 4.0431c3.0448 5.4907 5.6903 11.181 7.8866 17.121zm-119.75 84.556a39.932 39.932 0 100-79.864 39.932 39.932 0 100 79.864z" />
    </svg> options
</a>
{% endblock %}


{% set articles = admin.article_fetchAll %}
{% set categories = admin.article_category.fetchAll %}

{% block breadcrumb %}
<nav class="flex w-full" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ '/' | admin_url }}">Home</a></li>
        <li class="breadcrumb-item">Article</li>
    </ol>
</nav>
{% endblock %}

{% block content %}

<div class="flex items-start gap-3">

    <div class="flex-1 min-h-screen">

        {% for article in articles %}
        <div class="relative max-w-[800px] bg-white rounded-md mb-3 p-2 shadow-sm">

            <div class="float-right top-0 right-0">
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button"></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a href="{{ article.link }}" target="_blank"><i
                                    class="fa-solid fa-arrow-up-right-from-square"></i> open article</a>
                        </li>
                        <li class="dropdown-item" onclick="editArticle('{{ article.id }}')">
                            <i class="fa-regular fa-pen-to-square"></i> edit article
                        </li>
                        <li class="dropdown-item" onclick="setArticleStatus(this, '{{ article.id }}')">
                            {% if article.status == 1 %}
                            <i class="fa-solid fa-lock"></i> make private
                            {% else %}
                            <i class="fa-solid fa-earth-americas"></i> make public
                            {% endif %}
                        </li>
                        <li class="dropdown-item" onclick="quickEditArticle(this, '{{ article.id }}')"><i
                                class="fa-solid fa-wand-magic-sparkles"></i> quick edit attribute</li>
                        <li class="dropdown-item text-danger" onclick="deleteArticle('{{ article.id }}')"><i
                                class="fa-solid fa-delete-left"></i> delete</li>
                    </ul>
                </div>
            </div> <!-- dropdown -->

            <section class="p-4">
                <header class="mb-2">
                    <h4 class="text-md mb-1">
                        <span class="tooltip tooltip-right" id="article-{{ article.id }}-icon-status"
                            onshow="tooltipShowHandler(this, '{{ article.id }}')">
                            {% if article.status == 1 %}
                            <i class="fa-solid fa-earth-americas"></i>
                            {% else %}
                            <i class="fa-solid fa-lock"></i>
                            {% endif %}
                            <div class="tooltip-content text-nowrap">
                                <h1 class="font-bold">Visibility status</h1>
                                <p></p>
                            </div>
                        </span>
                        {{ article.title }}
                    </h4>
                    <a class="inline-block text-[12px] text-blue-500/50 hover:text-blue-500 tooltip tooltip-bottom"
                        href="{{ article.link }}" target="_blank">{{ article.link }}
                        <div class="tooltip-content">
                            <p>Open article page in new tab</p>
                        </div>
                    </a>
                </header>
                <article class="text-disabled text-[10px]">
                    <ul class="flex gap-4">
                        <li class="text-purple-500/50" id="article-{{ article.id }}-id">#{{ article.id }}</li>
                        <li id="article-{{ article.id }}-status">status : {% if article.status == 1 %}public{% else
                            %}private{% endif %}</li>
                        <li id="article-{{ article.id }}-created_at">created_at : {{ article.created_at }}</li>
                        <li id="article-{{ article.id }}-updated_at">updated_at : {{ article.updated_at }}</li>
                    </ul>
                </article>
            </section>

        </div>
        {% endfor %}

    </div>

    <div
        class="top-0 w-full max-w-[250px] h-[calc(100vh-100px)] bg-white sticky -mt-[4px] -mr-[8px] rounded-md overflow-hidden">
        <h3 class="text-lg bg-slate-200 px-1 mb-3 flex items-center w-full">
            <a class="ms-2 text-sm hover:text-blue-400" href="{{ '/article/category' | admin_url }}"><span
                    class="font-semibold">Category</span> <i
                    class="text-blue-400 text-[12px] align-baseline fa-solid fa-arrow-up-long rotate-45"></i></a>
            <button onclick="createNewCategory()" class="btn !p-1 ms-auto !shadow-none hover:text-blue-400">
                <i class="text-[14px] fa-solid fa-plus"></i>
            </button>
        </h3>
        <ul class="px-1 list-inside list-disc" id="categories">
            {% for category in categories %}
            <li class="pl-1 mb-2">{{ category.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="inline-flex  max-w-[175px]"></div>

<div class="modal hide">
    <div class="modal-dialog">
        <div class="modal-header border-b-[1px] border-gray-100/80">
            <h3 class="modal-title">Edit Attribute of Article</h3>
            <button class="btn btn-close"></button>
        </div>
        <div class="modal-content">

            <div class="mb-3">
                <label>
                    <span class="block text-sm font-medium text-gray-700 mb-2">Title of
                        article</span>
                    <input id="article-title" name="title" type="text" class="form-input" min="5"
                        placeholder="Enter title" invalid-message="this field is required" required>
                </label>
                <div id="article-title-autocomplete"></div>
            </div>


            <div class="mb-3">
                <label>
                    <span class="block text-sm font-medium text-gray-700 mb-2">Slug</span>
                    <input id="article-slug" name="slug" type="text" class="form-input" min="5"
                        invalid-message="this field is required" placeholder="Enter slug">
                </label>
                <small class="text-disabled">Link format : <i>{{
                        options.links_style_format[options.link_format] }}</i></small>
            </div>

            <div class="mb-3">
                <label>
                    <span class="block text-sm font-medium text-gray-700 mb-2">Category of
                        article</span>
                    <select id="article-category" name="category" class="form-select">
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>

            <div class="mb-3">
                <label>
                    <input onchange="if (this.checked) { $('#article-description').parent().show(); } else { $('#article-description').parent().hide(); }" type="checkbox" class="form-input switch mr-3"
                        id="is-custom-description" value="1"> Custom
                    description</label>
                <label style="display: none;">
                    <span class="block text-sm font-medium text-gray-700 mb-2">Description</span>
                    <textarea id="article-description" name="description" class="form-textarea"
                        placeholder="Enter description" invalid-message="this field is required, minimum 150 characters"
                        min="150"></textarea>
                </label>
            </div>

            <div class="mb-3">
                <label>
                    <input type="checkbox" class="form-input switch mr-3" id="is-publish" name="is-publish" value="1"
                        checked> Publish</label>
            </div>

            <div class="mb-3 hidden">
                <input type="hidden" id="article-content" name="content">
            </div>

            <div class="mb-3 hidden">
                <input type="hidden" id="article-id" name="id">
            </div>


        </div>
        <div class="modal-footer"></div>
    </div>
</div>

{% endblock %}


{% block javascript %}

{{ parent() }}


<script>

    var modal = merapi.Modal.from('.modal');
    var articles = JSON.parse('{{ articles|json_encode|raw }}');

    function setArticleStatus(el, id) {
        let article = articles.find(article => article.id == id);
        article.status = article.status == 1 ? 0 : 1;
        merapi.http.post("{{ '/article/endpoint/update/status' | admin_url }}", { id: article.id, status: article.status }).then((res, text, xhr) => {
            if (xhr.status === 200 && res.code === 200) {

                $("#article-" + article.id + "-status").html(" status : " + (article.status == 1 ? "public" : "private"));
                $("#article-" + article.id + "-icon-status").html(article.status == 1 ? `<i class="fa-solid fa-earth-americas"></i>` : `<i class="fa-solid fa-lock"></i>`);
                $("#article-" + article.id + "-icon-status").append(`<div class="tooltip-content text-nowrap"><h1 class="font-bold">Visibility status</h1><p></p></div>`)

                merapi.toast(res.message, 5, 'text-success');
                $(el).html(article.status == 1 ? `<i class="fa-solid fa-lock"></i> make private` : `<i class="fa-solid fa-earth-americas"></i> make public`);

            } else throw new Error(res.message, res.code);
        }).catch(err => {
            article.status = !article.status;
            merapi.toast(err.message ?? err.statusText, 5, 'text-danger');
        })
    }


    function quickEditArticle(el, id) {
        let article = articles.find(article => article.id == id);

        let title = modal.find("#article-title");
        let slug = $("#article-slug");
        let category = $("#article-category");
        let description = $("#article-description");
        let content = $("#article-content");
        let publish = $("#is-publish");

        title.val(article.title);
        slug.val(article.slug);
        category.val(article.category);
        description.val(article.description);
        content.val(article.content);
        publish.prop("checked", article.status == 1);


        modal.action.positive = {
            text: "Save",
            class: "btn-primary",
        };

        modal.action.positive = () => {
            console.log("positive");
        }
        modal.show();
    }
    function tooltipShowHandler(el, id) {
        let article = articles.find(article => article.id == id);
        if (article) {
            let tooltip = $(el).find(".tooltip-content");
            tooltip.find("p").text(article.status == 1 ? "Your article is public, that means anyone can see it." : "Your article is private, that means only you can see it.");
        }
    }
</script>


<script>

    function createNewCategory() {
        let container = $("#categories");

        let element = $(`<li class="pl-1 mb-2 whitespace-nowrap">
            <div class="inline-flex">
                <input class='px-2 py-1 outline-none max-w-[175px] rounded pt-1 px-2' type='text' name='category_name' placeholder='Category Name' pattern='[a-z]' invalid-message="Please enter category name" required>
                <button class="btn btn-sm ms-auto !px-3 hover:text-blue-400"><i class="fa-regular fa-circle-check"></i></button>
            </div>
        </li>`);

        container.append(element);
        element.find("input").trigger("focus");
        element.find("button").on("click", () => {
            let input = element.find("input");

            if (!input.validate()) {
                merapi.toast("Category name cannot be empty", 5, "text-danger");
                input.trigger("focus");
                return;
            }

            merapi.http.post("{{ '/article/endpoint/category/create' | admin_url }}", { name: input.val() }).then((data) => {
                console.log(data);
            })

        })
        setTimeout(() => {
            $(document).on("click", (e) => {
                if (!$(e.target).closest(element).length) {
                    element.remove();
                }
            })
        }, 200)
    }

</script>
{% endblock %}