{% extends "@panel/base.html.twig" %}

{% block header_title %}Add User{% endblock %}

{% block subheader_outer %}{% endblock %}

{% block breadcrumb_item %}
<li class="breadcrumb-item"><a href="{{ '/' | access_path }}">Home</a></li>
<li class="breadcrumb-item"><a href="{{ '/users' | access_path }}">Users</a></li>
<li class="breadcrumb-item active" aria-current="page">Add User</li>
{% endblock %}


{% block content %}
<div class="row py-3 px-3 px-lg-5">
    <div class="col-11 col-lg-8 pb-5">
        <form class="needs-validation" xhr-action="{{ '/api/User/add' | access_path }}" method="post"
            id="form-add-user">
            <div class="alert bg-warning bg-opacity-10">
                <h5>Add new user</h5>
                <small>Please fill in all fields to create a new account</small>
            </div>

            <div class="form-group mb-3">
                <label for="name">name :</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Enter name"
                    pattern="[a-zA-Z ]+" required>
                <div class="invalid-feedback">Please provide a valid name.</div>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="form-group mb-3">
                <label for="email">email :</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                <div class="invalid-feedback">Please provide a valid email.</div>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="form-group mb-3">
                <label for="password">password :</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Enter password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required>
                <div class="invalid-feedback">Password must contain at least one number and one uppercase and lowercase
                    letter, and at least 6 or more characters.</div>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="form-group mb-3">
                <label for="confirm-password">confirm-password :</label>
                <input type="password" name="confirm-password" id="confirm-password" class="form-control"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" placeholder="Enter confirm-password" required>
                <div class="invalid-feedback">Confirmation is not the same as password.</div>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="form-group mb-3">
                <label for="role">role :</label>
                <select name="role" id="role" class="form-control" required>
                    <option value="">-- select role --</option>
                    {% for item in _box.User.getRoleNames %}
                    <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="status">status :</label>
                <select name="status" id="status" class="form-control" required>
                    <option value="">-- select status --</option>
                    {% for key, status in ['inactive', 'suspended', 'active'] %}
                    <option value="{{ key }}">{{ status }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group mb-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="send-confirmation" id="send-confirmation"
                        value="1" checked>
                    <label class="form-check-label" for="send-confirmation">Send Confirmation</label>
                </div>
            </div>
            <div class="d-flex">
                <button type="submit" class="btn btn-primary px-5 ms-auto">Add User</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block javascript %}
{{ parent() }}
<script src="{{ '@user/dist/add-user.js' | assets }}"></script>

<script>
    (function () {
        'use strict';


        $('form#form-add-user').on("xhr-success", function (e, response) {
            __.toast('User added successfully', 30, 'text-success');
            $('form#form-add-user')[0].reset();
        })
            .on("xhr-error", function (e, error) {
                __.toast(error.message || error.statusText || "Error", 5, 'text-danger');
            });


        $('#confirm-password').on('keyup', function () {
            setTimeout(() => {
                if ($('#password').val().length >= 6 && $('#password').val() === $('#confirm-password').val()) {
                    $('#confirm-password').removeClass('is-invalid').addClass('is-valid');
                } else {
                    $('#confirm-password').removeClass('is-valid').addClass('is-invalid');
                }
            }, 100);
        });

        $('#form-add-user').on('submit', function (e) {
            setTimeout(() => {
                if ($('#password').val().length >= 6 && $('#password').val() === $('#confirm-password').val()) {
                    $('#confirm-password').removeClass('is-invalid').addClass('is-valid');
                } else {
                    $('#confirm-password').removeClass('is-valid').addClass('is-invalid');
                }
            }, 100);
        });

    })();
</script>
{% endblock %}