{% extends "@panel/base.html.twig" %}
{% block header_title %}Users{% endblock %}


{% block breadcrumb_item %}
<li class="breadcrumb-item"><a href="{{ '/' | access_path }}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Users</li>
{% endblock %}


{% block subheader_menu %}
{% if _box.User.getRoles.isAllowed(1) %}
<a href="{{ '/users/add' | access_path }}" class="menu-item">
    <i class="fa fa-plus"></i> add user
</a>
{% endif %}
{% endblock %}

{% block stylesheet %}
{{ parent() }}
<style>
    .list-group-item img {
        object-fit: cover;
    }
</style>
{% endblock %}



{% set usersLen = (_box.User.fetchAll|length ) -1 %}


{% block content %}
<h2 class="ms-3 mt-3" id="total-records">Total Records: {{ usersLen }}</h2>

<div class="p-3">
    <ol class="list-group list-group-flush gap-2" style="max-width: 800px;" onload="__.MUser.render.bind(this)()">
        {% for x in 1..usersLen %}
        <li class="list-group-item d-flex align-items-start position-relative placeholder-glow">
            <img class="w-full h-full object-cover rounded-2 placeholder" width="45" height="45" alt="">
            <div class="ms-2 w-100">
                <span class="placeholder col-6"></span>
                <span class="placeholder w-75"></span>
            </div>
        </li>
        {% endfor %}
    </ol>
</div>

<div id="pagination" class="pagination justify-content-center mb-5 mt-3"></div>


{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ '@user/dist/index.js' | assets }}"></script>
{% endblock %}