{% extends "@panel/base.html.twig" %}

{% set FM = api.FileManager %}
{% set parent = FM.getParent %}


{% block stylesheet %}
{{parent()}}

{% endblock %}

{% set directory = request.d %}



{% block header_title %}File Manager{% endblock %}



{% block breadcrumb_item %}
{% set parent = "/" %}
{% for i, item in FM.getArrayParent %}
{% if i == 0 %}
<li class="breadcrumb-item"><a href="?d={{ parent }}">ROOT</a></li>
{% else %}
{% set parent = parent ~ "/" ~ item %}
<li class="breadcrumb-item"><a href="?d={{ parent }}">{{ item }}</a></li>
{% endif %}
{% endfor %}
{% endblock %}



{% block subheader_outer %}
{% if not FM.state_is_file %}
{{parent()}}
{% endif %}
{% endblock %}

{% block subheader %}
{{parent()}}
{% endblock %}


{% block subheader_menu %}
<li class="menu-item btn" onclick="__.createFolder('{{ directory }}')">
    <i class="fa-solid fa-folder-plus"></i> new folder
</li>
<li class="menu-item btn">
    <a href="{{ '/filemanager/upload' | access_path }}?d={{ directory }}"><i class="fa-solid fa-file-arrow-up"></i>
        upload file</a>
</li>
{% endblock %}





{% block content %}

{% if FM.state_is_file %}

{% include "@filemanager/partials/open.html.twig" %}

{% else %}

{% include "@filemanager/partials/list.html.twig" %}

{% endif %}

{% endblock %}

{% block javascript %}

{{parent()}}
{% if FM.state_is_file is empty %}
<script>
    window.__.endpoints = {
        rename: "{{ '/api/filemanager/rename' | access_path }}",
        delete: "{{ '/api/filemanager/delete' | access_path }}",
        copy: "{{ '/api/filemanager/copy' | access_path }}",
        move: "{{ '/api/filemanager/move' | access_path }}",
        upload: "{{ '/api/filemanager/upload' | access_path }}",
        fetchFolder: "{{ '/api/filemanager/fetchFolder' | access_path }}",
        newFolder: "{{ '/api/filemanager/newFolder' | access_path }}"
    }
</script>
<script src="{{ '@filemanager/dist/listfile.js' | assets }}"></script>
{% endif %}

{% endblock %}