{% extends "@panel/base.html.twig" %}
{% block header_title %}Dashboard{% endblock %}

{% block head_javascript %}
{{ parent() }}
<script>
    var widgetPayload = {
        endpoint_edit: "{{ '/api/Dashboard/Widget/edit' | access_path | url }}",
        endpoint_save: "{{ '/api/Dashboard/Widget/save' | access_path | url }}",
        endpoint_fetch: "{{ '/api/Dashboard/Widget/fetch' | access_path | url }}",
        endpoint_load: "{{ '/widget/load' | access_path | url }}"
    }
</script>
{% endblock %}


{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="{{ '@dashboard/dist/index.css' | assets | url }}?v={{ time() }}">
{% endblock %}



{% block subheader_outer %}
{% if api.Dashboard.isAllowed(0) %}
{{ parent() }}
{% endif %}
{% endblock %}

{% block subheader_search_outer %}{% endblock %}

{% block subheader_menu %}
<button class="menu-item" id="edit-widget-button"><i class="fa-regular fa-pen-to-square"></i> Edit Widget</button>
{% endblock %}




{% block javascript %}
{{ parent() }}
<script src="{{ '@dashboard/dist/index.js' | assets | url }}?v={{ time() }}"></script>
{% endblock %}




{% block content %}
{{ api.Dashboard.test({hallo2:"hallo2", hallo:"hallo"}) }}
<div class="pb-5" id="root"></div>
{% endblock %}