{% extends "/base.html.twig" %}

{% block page_title %}

{% if error.code == 0 %}
{{ 'Fatal Error'}}
{% else %}
{{ error.type }} {{ error.code }}
{% endif %}

{% endblock %}


{% block stylesheets %}
<style>
	.code-snippet {
		font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
		font-size: 10px;
		border-spacing: 0;
		background-color: #f5f5f5;
		border: 1px solid #e3e3e3;
		width: 100%;
		overflow: auto;
		word-break: keep-all;
		white-space: pre;


	}

	.code-snippet tr {
		position: relative;
	}

	.code-snippet tr td,
	.code-snippet tr th {
		word-break: keep-all;
		white-space: pre;
		padding: 2.5px 25px 2.5px 0px;
	}

	.code-snippet .line-number {
		position: sticky;
		left: -0.5px;
		text-align: right;
		padding: 0 10px;
		background-color: #f5f5f5;
	}

	.code-snippet .highlight .line-content {
		background-color: #ffff00;
		color: #ff0000;
	}

	.snippet-section {
		background-color: #ffffff;
		box-shadow: 0px 0px 4px 0px rgba(171, 171, 171, 0.5);
		border-radius: .8rem;
		overflow: hidden;
	}

	.snippet-section header {
		padding: 10px 18px;
		background-color: #fcd1d1;
		color: #4d1414;
		box-shadow: -1px 0 0 0 #ffffff, 1px 0 0 0 #ffffff;
		word-wrap: break-word;
		font-weight: bold;
	}

	.stack-trace {
		width: 100%;
	}

	.stack-trace .lines {
		position: relative;
		margin: 0.3rem 0;
		padding-bottom: 0;
		opacity: 0;
		transition: .8s;
	}

	.stack-trace .line-number {
		background-color: hsla(var(--bulet-hue), 100%, var(--bulet-saturation), 1);
		width: 30px;
		height: 30px;
		border-radius: 100px;
		position: absolute;
		top: 2.5px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
	}

	.stack-trace .lines:last-child {
		color: red;
	}

	.stack-trace .lines:not(:last-child) .line-number::after {
		--line-bg-color: hsla(var(--bulet-hue), 100%, var(--bulet-saturation), 1);
		content: "";
		background-color: rgb(141, 189, 255);
		background: linear-gradient(to bottom, var(--line-bg-from-color) 0%, var(--line-bg-to-color) 100%);
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: 2px;
		height: var(--line-height);
		z-index: -1;
	}

	.stack-trace .line-content {
		padding: 0px 0px 35px 50px;
	}
</style>
{% endblock %}


{% block body %}

<nav class="sticky h-[60px] z-10 top-0">
	<div class="w-full h-full flex items-center px-4 bg-white shadow">
		<svg width="40px" height="38px" viewBox="0 0 153.55 105.12" xmlns="http://www.w3.org/2000/svg">
			<g transform="translate(-23.302 -80.234)">
				<path transform="scale(.26458)"
					d="m88.107 698.87c1.995-3.2594 41.575-58.5 42.395-59.169 68.177-91.793 148.2-207.62 210.54-290.7 0.29256-0.33199 3.1004 2.3846 6.2397 6.037 3.1392 3.6523 8.4464 9.7518 11.794 13.554 3.3473 3.8026 9.4332 10.941 13.524 15.862 4.0911 4.9216 8.1943 8.9834 9.1182 9.0263 0.92387 0.0428 4.5754-4.3345 8.1146-9.7273 3.5392-5.3928 6.7467-10.109 7.128-10.481 0.38121-0.37192 11.336-16.615 24.344-36.095 18.063-27.051 24.02-35.039 25.215-33.811 0.86052 0.88422 6.9985 11.345 13.64 23.247 59.275 104.95 120.05 215.35 179.55 320.53 13.404 23.69 28.148 50.243 28.708 51.703 0.52678 1.3728-11.412 1.7177-59.454 1.7177h-60.113l-9.8883-17.244c-32.359-57.14-68.769-118.52-87.199-151.81-18.43-33.29-27.042-45.983-27.927-45.983-0.80489 0-3.3599 2.8625-9.0538 10.143-0.58172 0.74384-7.3912 10.329-15.132 21.301-7.741 10.972-14.487 19.948-14.992 19.948-0.5046 0-5.4014-4.9682-10.882-11.04-13.325-14.765-13.183-14.633-15.104-13.896-0.92428 0.35467-2.393 1.7858-3.2639 3.1802-0.87086 1.3944-7.8566 10.708-15.524 20.697-36.847 48.442-65.006 85.085-99.126 130.22-6.7462 8.9261-15.5 20.337-19.452 25.358l-7.1859 9.1289h-63.521c-50.467 0-63.308-0.34741-62.486-1.6905z"
					fill="#2a7fff" stroke-width="6.7622" />
			</g>
		</svg>
		<div class="px-5 py-1 flex items-end">
			<a class="font-bold align-baseline" href="#">Error Debug</a>
		</div>
		<div class="ms-auto flex items-center">
			<a class="rounded-sm border border-blue-500/10 text-blue-500 p-2 hover:bg-blue-500 hover:text-white" href="https://github.com/merapipanel/merapipanel">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
					<path
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
				</svg>
			</a>
		</div>
	</div>
</nav>

{% block content %}

<div class="w-full h-full max-w-[1400px] mx-auto">

	<div class="mb-5 pt-5 px-3">

		<h1 class="break-all text-2xl font-bold mb-5">
			<span class="text-red-500 inline-block transform rotate-[40deg]">
				<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
					<path
						d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A5 5 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A5 5 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623M4 7v4a4 4 0 0 0 3.5 3.97V7zm4.5 0v7.97A4 4 0 0 0 12 11V7zM12 6a4 4 0 0 0-1.334-2.982A3.98 3.98 0 0 0 8 2a3.98 3.98 0 0 0-2.667 1.018A4 4 0 0 0 4 6z" />
				</svg>
			</span>
			{{ error.type}} {{ error.code == 0 ? "" : error.code }}
		</h1>

		<div class="grid grid-cols-1 align-top md:grid-cols-5 gap-8">

			<div class="order-2 md:order-1 col-span-1 md:col-span-3 row-span-2">

				<section class="snippet-section">
					<header>
						<h2>{{ error.file }}</h2>
					</header>
					<div class="overflow-x-auto">
						{{ error.snippet | raw }}
					</div>
				</section>
			</div>

			<div class="order-1 md:order-2 col-span-1 md:col-span-2">
				<p class="pt-4 text-xl font-semibold break-words">{{ error.message }}</p>
				<span class="font-bold italic text-yellow-400 py-3 block">at line {{ error.line }}</span>
			</div>

			<div class="order-last col-span-1 md:col-span-2 w-full h-full min-h-max">
				<h3 class="font-bold text-lg mb-3">{{'Stack trace' }}</h3>

				<div class="h-full min-h-max w-full break-words">
					<div class="stack-trace h-full w-full">

						{% set saturation = 90 %}
						{% set hue = 204 %}
						{% set steps = error.stack_trace | length %}
						{% set decreamentSteps = (saturation - 30) / steps %}

						{% for x,err in error.stack_trace %}

						{% set saturation = saturation - decreamentSteps %}

						{% if x == ( error.stack_trace | length - 1) %}
						{% set hue = 0 %}
						{% endif %}

						<div class="lines">
							<div class="line-number" bulet-hue="{{ hue }}" bulet-saturation="{{ saturation }}">{{ x }}
							</div>
							<div class="line-content">
								<h4>{{ err.file }} {% if err.line %}[{{ err.line }}]{% endif %}
								</h4>
								<p class="text-yellow-500"><i>{{ err.function }}</i></p>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>

		</div>

	</div>

</div>

{% endblock %}


{% block javascripts %}
<script>

	$(function () {

		const lines = $("div.stack-trace>div.lines");

		for (let i = 0; i < lines.length; i++) {

			const line = $(lines[i]);

			let sat = $(line).find(".line-number").attr("bulet-saturation");
			let hue = $(line).find(".line-number").attr("bulet-hue");

			$(line).find(".line-number").css("--bulet-saturation", sat + "%");
			$(line).find(".line-number").css("--bulet-hue", hue);

			$(line).find(".line-number").css("--line-bg-from-color", "hsla(var(--bulet-hue), 100%, var(--bulet-saturation), 1)");

			if (i == lines.length - 2) {
				$(line).find(".line-number").css("--line-bg-to-color", "red");
			} else {
				$(line).find(".line-number").css("--line-bg-to-color", "hsla(var(--bulet-hue), 100%, var(--bulet-saturation), 1)");
			}

			const outerHeight = line.outerHeight(true);
			line.find(".line-number").css('--line-height', (outerHeight - 5) + "px")

			setTimeout(function () {
				$(line).css("opacity", "1");
			}, i * 100);
		}


		window.onresize = function () {

			for (let i = 0; i < lines.length; i++) {

				const line = $(lines[i]);
				const outerHeight = line.outerHeight(true);
				line.find(".line-number")[0].style.setProperty('--line-height', (outerHeight - 5) + "px");

			}
		};

	});
</script>
{% endblock %}

{% endblock %}