<footer class="bg-slate-900 text-white min-h-[200px] py-10">
    <div class="container max-w-[1200px] mx-auto px-3">
        <ul class="overflow-y-auto" role="menu">

            <li class="group-container px-3 mb-3">
                <div class="group-title pt-5">{{ 'build a website' | trans }}</div>
                <div class="group-menu gap-8 flex-wrap my-2">
                    <div class="menu-item">
                        <div>
                            <i class="text-[35px] ic ic-palette"></i>
                        </div>
                        <div>
                            <div>{{ 'designer' | trans }}</div>
                            <div>{{ 'designer.is' | trans }}</div>
                        </div>
                    </div>

                    <div class="menu-item">
                        <div>
                            <i class="text-[45px] ic ic-cms"></i>
                        </div>
                        <div>
                            <div>{{ 'cms' | trans }}</div>
                            <div>{{ 'cms.is' | trans }}</div>
                        </div>
                    </div>

                    <div class="menu-item">
                        <div>
                            <i class="text-[35px] ic ic-bag-fill-heart"></i>
                        </div>
                        <div>
                            <div>{{ 'online-shop' | trans }}</div>
                            <div>{{ 'online-shop.is' | trans }}</div>
                        </div>
                    </div>


                </div>
            </li>

            <li class="group-container px-3 pb-5">
                <div class="group-title pt-4">{{ 'optimization' | trans }}</div>
                <div class="group-menu gap-8 flex-wrap my-2">
                    <div class="menu-item">
                        <div>
                            <i class="text-[35px] ic ic-google"></i>
                        </div>
                        <div>
                            <div>{{ 'google-ads' | trans }}</div>
                            <div>{{ 'google-ads.is' | trans }}</div>
                        </div>
                    </div>

                    <div class="menu-item">
                        <div>
                            <i class="text-[45px] ic ic-speedometer"></i>
                        </div>
                        <div>
                            <div>{{ 'accelerate' | trans }}</div>
                            <div>{{ 'accelerate.is' | trans }}</div>
                        </div>
                    </div>

                    <div class="menu-item">
                        <div>
                            <i class="text-[35px] ic ic-search-optimize"></i>
                        </div>
                        <div>
                            <div>{{ 'seo' | trans }}</div>
                            <div>{{ 'seo.is' | trans }}</div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>

        <div class="mb-10">
            <div class="w-[50px] h-[50px] rounded-sm overflow-hidden">
                <img class="w-full object-contain" src="{{ '@site/img/logo-smg.jpg' | assets(false) | url }}"
                    alt="PT. SUGER MALEREANG GROUP">
            </div>
            <h5><b>Merapihost.com</b> are develop by PT.SMG(<small><i>PT. SUGER MALEREANG GROUP</i></small>)</h5>

        </div>
        <p class="w-full text-center">Copyright &copy; 2022 Merapihost.com</p>
    </div>
</footer>