{% extends "@panel/base.html.twig" %}


{% block header_title %}Article{% endblock %}


{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="{{ '@article/assets/dist/index.css' | assets }}">
{% endblock %}

{% block subheader_menu %}
<a href="{{ 'article/create' | access_path }}" class="menu-item">
    <i class="fa fa-plus"></i> new article
</a>
{% endblock %}

{% block breadcrumb_item %}
<li class="breadcrumb-item"><a href="{{ '/' | access_path }}">Home</a></li>
<li class="breadcrumb-item">Article</li>
{% endblock %}


{% block content %}
<div class="container-article gap-3">
    <div class="d-flex flex-wrap gap-3 flex-grow-1 w-100 p-3 " id="article-wrapper" onload="render(this)">

        <div class="card border-0 shadow-sm" aria-hidden="true" style='width: 100%; max-width: 30rem;'>
            <div class="card-body">
                <h5 class="card-title placeholder-glow">
                    <span class="placeholder col-6"></span>
                </h5>
                <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                </p>
                <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
            </div>
        </div>

        <div class="card border-0 shadow-sm" aria-hidden="true" style='width: 100%; max-width: 30rem;'>
            <div class="card-body">
                <h5 class="card-title placeholder-glow">
                    <span class="placeholder col-6"></span>
                </h5>
                <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                </p>
                <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
            </div>
        </div>

    </div>

    <div class="category-wrapper">
        <div class="navbar-expand-lg p-0">
            <h3 class="d-flex align-items-center text-bs ps-3 py-0 pt-1 mb-1">
                <a class="text-decoration-none text-dark text-hover-primary light-5"><span
                        class="font-semibold">Categorys</span> </a>

                <button class="btn text-dark text-hover-primary light-5 navbar-toggler" data-bs-toggle="collapse"
                    data-bs-target="#categories-collapse">
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
            </h3>

            <div class="collapse navbar-collapse" id="categories-collapse">

            </div>
        </div>
    </div>
</div>
<div class="inline-flex max-w-[175px]"></div>

<div class="modal hide">
    <div class="modal-dialog">
        <div class="modal-header border-b-[1px] border-gray-100/80">
            <h3 class="modal-title">Edit Attribute of Article</h3>
            <button class="btn btn-close"></button>
        </div>
        <form method="xhr::post" id="form-quick-edit" action="{{ '/article/endpoint/update' | access_path }}"
            class="modal-content">
            <div class="mb-3">
                <label>
                    <span class="block text-sm font-medium text-gray-700 mb-2">Article ID :</span>
                    <input type="text" class="form-input" id="article-id" name="id" readonly>
                </label>
            </div>
            <div class="mb-3">
                <label>
                    <span class="block text-sm font-medium text-gray-700 mb-2">Title of article :</span>
                    <input id="article-title" name="title" type="text" class="form-input" min="5"
                        placeholder="Enter title" invalid-message="this field is required" required>
                </label>
            </div>

            <div class="mb-3">
                <label>
                    <span class="block text-sm font-medium text-gray-700 mb-2">Slug :</span>
                    <input id="article-slug" name="slug" type="text" class="form-input" placeholder="Enter slug">
                </label>
            </div>

            <div class="mb-3">
                <label>
                    <span class="block text-sm font-medium text-gray-700 mb-2">Category of
                        article :</span>
                    <select id="article-category" name="category" class="form-select">
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>

            <div class="mb-3">
                <label>
                    <input
                        onchange="if (this.checked) { $('#article-description').parent().show(); } else { $('#article-description').parent().hide(); }"
                        type="checkbox" class="form-input switch mr-3" id="is-custom-description" value="1"> Custom
                    description</label>
                <label style="display: none;">
                    <span class="block text-sm font-medium text-gray-700 mb-2">Description :</span>
                    <textarea id="article-description" name="description" class="form-textarea"
                        placeholder="Enter description" invalid-message="this field is required, minimum 150 characters"
                        min="150" required></textarea>
                </label>
            </div>

            <div class="mb-3">
                <label>
                    <input type="checkbox" class="form-input switch mr-3" id="is-publish" name="is-publish" value="1"
                        checked> Publish</label>
            </div>
        </form>
        <div class="modal-footer"></div>
    </div>
</div>
{% endblock %}


{% block javascript %}
{{ parent() }}
<script>
    window.articles = JSON.parse('{{ articles|json_encode|raw }}');
    window.updateEndpoint = "{{ '/article/endpoint/update' | access_path }}";
    window.deleteEndpoint = "{{ '/article/endpoint/delete' | access_path }}";
    window.editURL = "{{ '/article/edit' | access_path }}";
    window.viewEndpoint = "{{ '/article/view' | access_path }}";
</script>
<script src="{{ '@article/dist/index.js' | assets }}"></script>
<script src="{{ '@FileManager/dist/FileManager.js' | assets }}?v={{ time() }}"></script>
<script>
    __.FileManager.config.enable_select_folder = false;
    __.FileManager.Modal.show();
</script>

{% endblock %}