{% extends "base.html.twig" %}


{% block content %}
<section>
    <header class="mb-3 border-bottom w-100 p-3 mx-auto" style="max-width: 1460px;">
        <h1 class="text-3xl">{{ article.title }}</h1>
        <p>
            Author: {{ article.author }} <br>
            Date: {{ article.date | date('d.m.Y') }}
        </p>
        <p>
            {{ article.description | truncate(100, '...') }}
        </p>
    </header>
    <article>
        {{ components | raw }}
    </article>
</section>
{% endblock %}