{% extends "@panel/base.html.twig" %}


{% block stylesheet %}
{{ parent() }}
<!-- Include stylesheet -->
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.1/dist/quill.snow.css" rel="stylesheet" />
{% endblock %}

{% block header_title %}Add Contact Template{% endblock %}

{% block breadcrumb_item %}
<li class="breadcrumb-item"><a href="{{ '/' | access_path }}">Home</a></li>
<li class="breadcrumb-item"><a href="{{ '/contact' | access_path }}">Contact</a></li>
<li class="breadcrumb-item"><a href="{{ '/contact/template' | access_path }}">Template</a></li>
<li class="breadcrumb-item active" aria-current="page">Add</li>
{% endblock %}

{% block subheader_outer %}{% endblock %}

{% block content %}
<form class="needs-validation" method="POST" xhr-action="{{ '/api/Contact/Template/update' | access_path }}">
    <input type="hidden" name="id" value="{{ template.id }}">
    <div class="row p-3">
        <div class="col-12">
            <div class="form-group mb-3">
                <label for="name">Name :</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter name"
                    value="{{ template.name }}" required>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group mb-3">
                <label for="contact">Contact : </label>
                <div class="d-flex align-items-center justify-content-start border rounded py-2 cursor-pointer"
                    id="contact">
                    <div id="contact-icon" class="px-3 py-1">
                        <i class="fas fa-user fa-lg"></i>
                    </div>
                    <div>
                        <h5 id="contact-name">{{ template.contact.name }}</h5>
                        <small class="text-muted" id="contact-address">{{ template.contact.address }}</small>
                    </div>
                </div>
                <input type="hidden" id="contact-id" name="contact" value="{{ template.contact.id }}" required>
            </div>
        </div>
        <div class="col-12" id="template"></div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>


{% endblock %}


{% block javascript %}
{{ parent() }}
<!-- Include the Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.1/dist/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
    const messageVal = "{{ template.data.message }}";
    $(document).on("contact-change", () => {
        $("#editor-container").remove()
        $("#message")
            .css("display", "none")
            .before(
                $('<div id="editor-container">')
                    .append(
                        $("<div id='editor'>")
                    )
            );
        if ($("#editor-container").length == 0) return;

        const quill = new Quill('#editor', {
            theme: 'snow',
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline', 'strike'],
                    [{ list: 'ordered' }, { list: 'bullet' }],
                    ['clean']
                ]
            }
        });
        quill.root.innerHTML = htmlDecode(messageVal);
        quill.on('text-change', function (delta, oldDelta, source) {
            $("#message").val(quill.root.innerHTML);
        });
    })


    function htmlDecode(input) {
        var doc = new DOMParser().parseFromString(input, "text/html");
        return doc.documentElement.textContent;
    }

</script>

<script>


    $("form").on("xhr-submit", function (e) {
        if ($("#contact-id").val() == "") {
            __.toast("Please select a contact", 5, "text-danger");
            e.stopImmediatePropagation();
            e.preventDefault();
        }
    }).on("xhr-success", function (e) {
        __.toast("Template updated successfully", 5, "text-success");
    }).on("xhr-error", function (e) {
        __.toast("Something went wrong", 5, "text-danger");
    })

    const templates = {
        email: [
            $('<div class="form-group mb-3">')
                .append(
                    $('<label for="subject" class="form-label w-100">Subject</label>')
                        .append(
                            $('<input type="text" class="form-control" id="subject" name="subject" placeholder="Enter subject">')
                        )
                ),
            $('<div class="form-group mb-3">')
                .append(
                    $('<label for="message" class="form-label w-100">Message</label>')
                        .append(
                            $('<textarea class="form-control" id="message" name="message" placeholder="Enter message"></textarea>')
                        )
                )
        ],
        whatsapp: [
            $('<div class="form-group mb-3">')
                .append(
                    $('<label for="message" class="form-label w-100">Message</label>')
                        .append(
                            $('<textarea class="form-control" id="message" name="message" placeholder="Enter message"></textarea>')
                        )
                )
        ]
    }
    const icons = {
        default: '<i class="fas fa-user fa-lg"></i>',
        phone: '<i class="fas fa-phone fa-lg"></i>',
        email: '<i class="fas fa-envelope fa-lg"></i>',
        whatsapp: '<i class="fab fa-whatsapp fa-lg"></i>'
    }
    const contacts = JSON.parse('{{ api.Contact.fetchAll | json_encode | raw }}');



    $('#template').html(templates["{{ template.contact.type }}"]);
    if ("{{ template.contact.type }}" == "email") {
        $('#subject').val("{{ template.data.subject }}");
        $('#message').val("{{ template.data.message }}");
    } else if ("{{ template.contact.type }}" == "whatsapp") {
        $('#message').val("{{ template.data.message }}");
    }
    $(document).trigger("contact-change");

    $('#contact').on("click", function () {
        contactSelection()
            .then(function (contact) {
                $('#contact-id').val(contact.id);
                $('#contact').val(contact.name);
                $('#contact-icon').html(icons[contact.type]);
                $('#contact-name').text(contact.name);
                $('#contact-address').text(contact.address);
                $('#template').html(templates[contact.type]);
                $(document).trigger("contact-change");
            })
    });

    function contactSelection() {
        const contents = $(`<div class="list-group list-group-flush scrollbar-sm">`)
            .css({
                height: "75vh",
                overflow: "auto",
            })
        const modal = $("#modal-contact").length ? __.modal.from($("#modal-contact")) : __.modal.create("Select Contact", contents);
        modal.el.prop('id', 'modal-contact');
        $(modal.el).find('.list-group').html("")
            .append(
                contacts.filter(e => e.type != 'phone').map(contact => {
                    let currentID = $('#contact-id').val();
                    return $(`<label class="list-group-item list-group-item-action d-flex justify-content-start align-items-center">`).append(
                        icons[contact.type],
                        $(`<div class="ms-3">`).append(
                            $(`<h5 class="mb-1">`).text(contact.name)
                                .append(
                                    contact.is_default ? $(`<i class="fa-solid fa-star ms-1 text-warning"></i>`) : ''
                                ),
                            $(`<p class="mb-0 text-muted">`).text(contact.address).css({
                                whiteSpace: "nowrap",
                                overflow: "hidden",
                                textOverflow: "ellipsis",
                                fontSize: "0.8rem"
                            })
                        ),
                        $(`<input type="radio" class="form-check-input ms-auto" name="contact" value="${contact.id}" ${currentID == contact.id ? 'checked' : ''}>`)
                    )
                })
            )
        modal.show();

        return new Promise(resolve => {
            modal.action.positive = function () {
                const id = modal.el.find('input[name="contact"]:checked').val();
                if (!id) {
                    __.toast('Please select a contact', 5, 'text-danger');
                    return;
                }
                const contact = contacts.find(x => x.id == id);
                resolve(contact || { id: "", name: "", address: "" });
                modal.hide();
            }
        })
    }
</script>
{% endblock %}