{% extends "@panel/base.html.twig" %}
{% block header_title %}Pages{% endblock %}


{% block head_javascript %}
{{ parent() }}
<script src="{{ '@pages/assets/dist/index.js' | assets }}"></script>
{% endblock %}



{% block stylesheet %}
{{ parent() }}
<style>
    .actions-button {
        position: absolute;
        top: 50% !important;
        right: unset !important;
        bottom: unset !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }
</style>
{% endblock %}



{% block breadcrumb %}
{{ parent() }}
<li class="breadcrumb-item">Page</li>
{% endblock %}



{% block subheader_menu %}
<button type="button" onclick="createNewPage()" class="menu-item btn">
    <i class="fa fa-plus"></i> new page
</button>
{% endblock %}


{% set pages = admin.pages_getall %}


{% block content %}


{% if pages %}

    <table class="table table-bordered table-hover table-striped table-primary">
        <colgroup>
            <col style="width: 2rem;" />
            <col />
            <col style="width: 5rem;" />
        </colgroup>
        <thead>
            <tr>
                <td>ID</td>
                <td>TITLE/SLUG</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for no, page in pages %}
            <tr>
                <td class="text-sm">{{ page.id }}</td>
                <td>
                    <div>
                        <h3 class="text-bs mb-0">{{ page.title }}</h3>
                        <a class="text-sm text-primary" href="{{ page.slug }}">{{ page.slug }}</a>
                    </div>
                </td>
                <td class="dropdown position-relative">
                    <button class="dropdown-toggle actions-button"></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"
                            onclick="assignTemplate({ title: '{{ page.title }}', slug: '{{ page.slug }}', id: '{{ page.id }}' })">
                            Assign template</li>
                        <li class="dropdown-item text-hover-danger" onclick="deletePage('{{ page.id }}')">Delete</li>
                    </ul>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
<div class="card">
    <div class="card-body">
        <p>You have no pages</p>
    </div>
</div>
{% endif %}
{% endblock %}


{% block javascript %}
{{ parent() }}
<script>
    function createNewPage() {
        merapi.Pages.createPage({
            template: "{{ '/template/fetchall' | admin_url | url }}",
            endpoint: "{{ '/pages/endpoint' | admin_url | url }}",
            token: "{{ merapi_token() }}"
        });
    }

    function assignTemplate(args = {}) {
        merapi.Pages.assignTemplate({
            title: args.title,
            slug: args.slug,
            id: args.id,
            token: "{{ merapi_token() }}",
            endpoint: {
                save: "{{ '/pages/endpoint/assign' | admin_url | url }}",
                template: "{{ '/template/fetchall' | admin_url | url }}"
            }
        });
    }

    function deletePage(id) {
        const modal = merapi.Modal.create('Delete page', 'Are you sure you want to delete this page?');
        modal.action.positive = {
            text: "Yes",
            class: "btn btn-danger",
            callback: function () {
                modal.hide();
            }
        }
        modal.show();
    }
</script>
{% endblock %}