<nav class="sidebar" id="sidebar">
    <div class="sidebar-container">

        <button class="sidebar-close" onclick="closeNav()"></button>

        <div class="sidebar-header">
            <img width="110" height="65" src="{{ '@panel/assets/logo.svg?v=1' | assets }}" alt="">
        </div>

        <ul class="nav-menu">

            {% for item in api.panel.listmenu %}

            <li class="nav-item{{ item.active ? ' active' : '' }}">

                <a href="{{ item.link }}">
                    {{ item.icon | raw }} {{item.name}}
                </a>

                {% if item.childs %}
                <ul class="nav-menu">

                    {% for child in item.childs %}
                    <li class="nav-item{{ child.active ? ' active' : '' }}">
                        <a href="{{ child.link }}">
                            {{ child.icon| raw }} {{child.name}}
                        </a>

                        {% if child.childs %}
                        <ul class="nav-menu">

                            {% for child in child.childs %}
                            <li class="nav-item{{ child.active ? ' active' : '' }}">
                                <a href="{{ child.link }}">
                                    {{ child.icon | raw }} {{child.name}}
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                        {% endif %}


                    </li>
                    {% endfor %}

                </ul>
                {% endif %}

            </li>
            {% endfor %}

        </ul>
    </div>
</nav>

<script>
    function openNav() {
        document.getElementById("sidebar").classList.add("open");
    }

    function closeNav() {
        document.getElementById("sidebar").classList.remove("open");
    }
</script>