{% extends "@admin::panel/base.html.twig" %}


{% block header_title %}Modules{% endblock %}



{% block stylesheet %}
<link rel="stylesheet" href="{{ '@modules/assets/css/style.css' | assets }}">
{% endblock %}



{% block content %}
<div>
    <span>Total {{ admin.modules_ListModule|length }}</span>

    {% for module in admin.modules_ListModule %}

    <div class="rounded-sm bg-white shadow-sm mb-5 p-5 flex align-top flex-wrap sm:flex-nowrap max-w-[860px]">
        <div class="flex w-full">
            <div
                class="aspect-square bg-gray-50 w-full max-w-[35px] h-[35px] rounded-sm overflow-hidden flex items-center justify-center">
                <img class="w-[50%] h-[50%] object-cover align-middle" src="/src/base/assets/img/default-box.svg"
                    srcset="{{ module.icon }}" alt="{{ module.name }} icon">
            </div>
            <div class="ms-3 w-full">
                <h1>{{ module.name }} {% if not module.controlable %}<span
                        class="italic text-sm text-gray-400/70">(System module)</span>{% endif %}</h1>

                <p class="text-[10px] text-ellipsis text-wrap text-gray-400">
                    {% if module.author %}
                    <span class="mr-3">Author : {{ module.author }}</span>
                    {% endif %}

                    {% if module.version %}
                    <span class="mr-3">Version: {{ module.version }}</span>
                    {% endif %}

                    {% if module.license %}
                    <span class="m-3">License: {{ module.license }}</span>
                    {% endif %}

                    {% if module.website %}
                    <span class="mr-3">Website: <a class="text-blue-400 underline" href="{{ module.website }}">{{
                            module.website }}</a></span>
                    {% endif %}

                </p>

                <div class="text-sm text-wrap text-gray-400 mt-2 module-text">{{ module.description | raw }}</div>
            </div>
        </div>
        {% if module.controlable %}
        <div class="ms-[25px] sm:ms-auto mt-3 inline-flex items-end">
            <a href="{{ '/module/' ~ module.name | admin_url }}" class="btn btn-sm">Disable</a>
            <a href="{{ '/module/' ~ module.name | admin_url }}" class="btn btn-sm">Delete</a>
        </div>
        {% endif %}
    </div>

    {% endfor %}
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">

    $(document).ready(function () {

        $("div.module-text").each(function (x) {
            let el = $("div.module-text")[x];

            if (el.scrollHeight > $(el).innerHeight() + 5) {

                let readMoreHandler = $(`<button class="btn btn-sm absolute bottom-0 right-0">read more</button>`);

                $(el).addClass("relative")
                $(el).append(readMoreHandler)

                readMoreHandler.on("click", function () {
                    $(el).toggleClass("unwrap")
                    $(this).text($(this).text() == "read more" ? "read less" : "read more")
                });
            }
            console.log(el)
        })
    })
</script>
{% endblock %}