{% extends "@admin::panel/base.html.twig" %}
{% block header_title %}Config Content{% endblock %}


{% block head_javascripts %}
<script src="{{ '@template/assets/dist/index.bundle.js' | assets }}"></script>
{% endblock %}



{% block subheader %}{% endblock %}



{% block content %}


<form class="py-5 max-w-[800px]">

    <section class="bg-white mb-3 p-4 rounded shadow">
        <header>
            <h2 class="text-xl">Website Name</h2>
        </header>
        <article>
            <label class="ps-3 w-full opacity-50 text-sm" for="website_name">Enter Name</label>
            <input class="text-input" id="website_name" name="website_name" value="{{ settings.website_name }}" />
        </article>
    </section>


    <section class="bg-white mb-3 p-4 rounded shadow">
        <header>
            <h2 class="text-xl">Time zone</h2>
        </header>
        <article>
            <label class="ps-3 w-full opacity-50 text-sm" for="website_timezone">Select Time zone</label>
            <select class="text-input" name="website_timezone" id="website_timezone">
                {% for x in admin.setting_AllTimeZone %}
                <option {{ settings.website_timezone==x ? 'selected' : '' }} value="{{ x }}">{{ x }}</option>
                {% endfor %}
            </select>
        </article>
    </section>


    <section class="bg-white mb-3 p-4 rounded shadow">
        <header>
            <h2 class="text-xl">Date Format</h2>
        </header>
        <article>
            <label class="ps-3 w-full opacity-50 text-sm" for="website_email">Select date format</label>

            <div class="ps-3 pt-3">
                <div class="mb-3">
                    <input {{ settings.website_date_format=='Y-m-d' ? 'checked' : '' }} type="radio"
                        name="website_date_format" value="Y-m-d" id="website_date_format_1">
                    <label class="ms-3 cursor-pointer" for="website_date_format_1">{{ 'now' | date('Y-m-d') }}</label>
                </div>
                <div class="mb-3">
                    <input {{ settings.website_date_format=='m/d/Y' ? 'checked' : '' }} type="radio"
                        name="website_date_format" value="m/d/Y" id="website_date_format_2">
                    <label class="ms-3 cursor-pointer" for="website_date_format_2">{{ 'now' | date('m/d/Y') }}</label>
                </div>
                <div class="mb-3">
                    <input {{ settings.website_date_format=='Y/M/d' ? 'checked' : '' }} type="radio"
                        name="website_date_format" value="Y/M/d" id="website_date_format_3">
                    <label class="ms-3 cursor-pointer" for="website_date_format_3">{{ 'now' | date('Y/M/d') }}</label>
                </div>
                <div class="mb-3">
                    <input {{ settings.website_date_format=='Y-M-d' ? 'checked' : '' }} type="radio"
                        name="website_date_format" value="Y-M-d" id="website_date_format_4">
                    <label class="ms-3 cursor-pointer" for="website_date_format_4">{{ 'now' | date('Y-M-d') }}</label>

                </div>
            </div>
        </article>
    </section>


    <div class="flex mt-5">
        <button type="submit" class="ms-auto bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">
            save
        </button>
    </div>
</form>

{% endblock %}



{% block javascripts %}
{% endblock %}