{% extends "@panel/base.html.twig" %}
{% block header_title %}General Settings{% endblock %}

{% block subheader_outer %}{% endblock %}


{% block breadcrumb_item %}
<li class="breadcrumb-item"><a href="{{ '/' | access_path }}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Settings</li>
{% endblock %}


{% macro process(content, moduleName = null) %}
{# Manipulate or display the captured block content here #}
{{ content | raw }}
<div class="d-none">
    <input type="hidden" name="setting_token" value="{{ _box.setting.token(content, moduleName) }}">
</div>
{% endmacro %}


{% block content %}
<div class="container d-flex flex-column flex-grow-1">
    <form class="d-flex flex-column pb-3 flex-grow-1 needs-validation" id="form-setting" method="post" enctype="multipart/form-data"
        action="{{ '/api/Setting/saveConfig' | access_path | url }}">

        <div class="flex-grow-1">
            {% block form %}
            <div class="w-100 h-100 d-flex justify-content-center align-items-center" style="min-height: 200px;">
                EMPTY TEMPLATE
            </div>
            {% endblock %}
        </div>
        <div class="d-flex mt-5">
            <button type="submit" class="ms-auto btn {% if _box.Setting.getRoles.isAllowed(1) == false %}btn-outline-secondary{% else %}btn-outline-primary{% endif %} px-5" {% if _box.Setting.getRoles.isAllowed(1) == false %}disabled{% endif %}>
                save
            </button>
        </div>
    </form>
</div>
{% endblock %}
{% block javascript %}
{{ parent() }}

<script src="{{ '@setting/dist/main.js' | assets | url }}"></script>

{% endblock %}