<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HTTP ERROR: {{ error.code }}</title>

	{{ style_tag("assets/css/bootstrap.min.css") }}
	{{ style_tag("assets/style.css") }}
</head>

<body style="height: 100vh; overflow: hidden;">
	{% block body %}

	<div class="container">
		{% block content %}

		<section class="d-flex flex-wrap justify-content-center align-content-center gap-3 items-center vh-100">
			<div class="px-3" style="flex-basis: 400px;">
				<img style="width: 100%; max-width: 300px; object-fit: contain;"
					src="/include/Buildin/assets/img/404%20ilustration.png" alt="404">
			</div>

			<div style="flex-basis: 400px;width: 100%">
				<header>
					<h1>{{ error.type}} {{ error.code == 0 ? "" : error.code }}</h1>
				</header>

				<article>
					<div class="order-1 md:order-2 col-span-1 md:col-span-2">
						<p class="pt-4 text-xl font-semibold text-break">{{ error.message }}</p>
					</div>
				</article>
			</div>
		</section>
		<div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 100; background-color: rgba(0, 0, 0, 0.05);"></div>

		{% endblock %}
	</div>

	{% endblock %}
</body>

</html>