<header class="sidenav" id="sidenav">
    <div class="container">

        <button class="btn-close" onclick="closeNav()"></button>

        <a class="flex w-full px-2 p-4">
            <img width="110" height="65" src="{{ '@panel/assets/logo.svg?v=1' | assets }}" alt="">
        </a>

        <ul class="nav-menu">

            {% for item in admin.Panel_ListMenu %}

            <li class="nav-item{{ item.active ? ' active' : '' }}">

                <a href="{{ item.link }}">
                    {{ item.icon | raw }} {{item.name}}
                </a>

                {% if item.childs %}
                <ul class="nav-menu">

                    {% for child in item.childs %}
                    <li class="nav-item{{ child.active ? ' active' : '' }}">
                        <a href="{{ child.link }}">
                            {{ child.icon| raw }} {{child.name}}
                        </a>

                        {% if child.childs %}
                        <ul class="nav-menu">

                            {% for child in child.childs %}
                            <li class="nav-item{{ child.active ? ' active' : '' }}">
                                <a href="{{ child.link }}">
                                    {{ child.icon | raw }} {{child.name}}
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                        {% endif %}


                    </li>
                    {% endfor %}

                </ul>
                {% endif %}

            </li>
            {% endfor %}

        </ul>
    </div>
</header>

<script>
    function openNav() {
        document.getElementById("sidenav").classList.add("open");
    }

    function closeNav() {
        document.getElementById("sidenav").classList.remove("open");
    }
</script>