{% extends "@panel/base.html.twig" %}

{% block header_title %}Product{% endblock %}

{% block breadcrumb_item %}
<li class="breadcrumb-item"><a href="{{ '/' | access_path }}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Product</li>
{% endblock %}



{% block subheader_menu %}
{% if _box.Product.getRoles.isAllowed(1) %}
<a href="{{ '/product/new' | access_path }}" class="menu-item">
    <i class="fa fa-plus"></i> new product
</a>
{% endif %}
{% endblock %}


{% set productLen = (_box.product.fetchAll|length)-1 %}
{% block content %}

<h2 class="ms-3 mt-3" id="total-records">Total Records: {{ productLen }}</h2>

<div class="d-flex flex-wrap gap-3 p-3" id="product-wrapper" onload="__.MProduct.render.call(this)">
    {% for x in 1..productLen %}
    <div class="card" aria-hidden="true" style="width: 100%; max-width: 18rem;opacity: 0.5;">
        <img src="..." class="card-img-top" alt="..." style="height: 150px;">
        <div class="card-body">
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
            </p>
        </div>
    </div>
    {% endfor %}
</div>

<div id="pagination" class="pagination justify-content-center mb-5"></div>

{% endblock %}


{% block javascript %}
{{ parent() }}
<script src="{{ '@product/dist/index.js' | assets }}"></script>
{% endblock %}