{% extends "@panel/base.html.twig" %}
{% block header_title %}View Product{% endblock %}
{% block subheader_outer %}{% endblock %}

{% block breadcrumb_item %}
<li class="breadcrumb-item"><a href="{{ '/' | access_path }}">Home</a></li>
<li class="breadcrumb-item"><a href="{{ '/product' | access_path }}">Product</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ product.title }} <i style="font-size: 0.7rem;">#{{ product.id
        }}</i></li>
{% endblock %}


{% block stylesheet %}
{{ parent() }}
{% if product.data.css %}
{{ '<style>' | raw }}{{ product.data.css }}{{ '</style>' | raw }}

<style>
    .product-wrapper {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
</style>
{% endif %}

{% endblock %}

{% block content %}
{{ _box.Editor.render(product.data.components, {
    "product-title": {
        "tagName": "h2",
        "classes": ["fs-2"],
        "content": product.title
    },
    "product-price": {
        "tagName": "span",
        "classes": ["fs-5"],
        "content": "Rp " ~ product.price
    },
    "product-category": {
        "tagName": "span",
        "classes": ["fs-5", "ms-2"],
        "components": [
            {
                type:"textnode",
                content: "|"
            },
            {
                "tagName": "i",
                content: product.category
            }
        ]
    },
    "product-description": {
        "tagName": "p",
        "content": product.description
    }
}) | raw }}
{% endblock %}