{% extends "base.html.twig" %}

{% block title %}Admin{% endblock %}

{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="{{ '@panel/dist/panel.css' | assets }}">
{% endblock %}

{% block head_javascript %}
{{ parent() }}
<script src="{{ '@panel/dist/panel.js' | assets }}"></script>
{% endblock %}

{% block body %}

<body id="panel-body">

    {% include "@parts::panel/navigation.html.twig" %}

    <main class="panel" id="panel-main">

        {% block header %}
        <header class="panel-header" id="panel-header">
            <div class="d-flex w-100">
                <button class="sidebar-toggle btn btn-outline-primary me-3 border-0" onclick="openNav()"
                    id="sidebar-toggle"></button>
                <h1 class="panel-title">{% block header_title %}Dashboard{% endblock %}</h1>
            </div>
            <nav class="flex w-full" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% block breadcrumb %}
                    <li class="breadcrumb-item"><a href="{{ '/' |admin_url}}">Home</a></li>
                    {% endblock %}
                </ol>
            </nav>

            {% block subheader %}
            <div class="panel-subheader" id="panel-subheader">
                {% block subheader_search %}
                <div class="panel-search" id="panel-subheader-search">
                    <input class="form-input" type="text" placeholder="Search">
                    <button class="ms-2 btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                {% endblock %}

                <div id="subheader-actions" class="subheader-actions">
                    <button id="subheader-toggle" onclick="toggleMenu()" class="subheader-toggle btn">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </button>
                    <div id="subheader-menu" class="subheader-menu">{% block subheader_actions %}{% endblock %}</div>
                </div>

            </div>
            {% endblock %}

        </header>
        {% endblock %}




        <div class="panel-content">
            {% block content %}
            <div class="flex flex-wrap justify-center items-center h-[80vh] w-full" id="panel-content">
                <div class="text-center">
                    <h2 class="text-3xl font-bold">Coming soon</h2>
                    <p>this is base template, you should not see this</p>
                </div>
            </div>
            {% endblock %}
        </div>
    </main>


    <script>
        function toggleMenu() {
            $("#subheader-actions").toggleClass("open");
            $(document).on('click', function (e) {
                if (!$(e.target).closest('#subheader-actions').length) {
                    $("#subheader-actions").removeClass("open");
                }
            })
        }
    </script>

    {% block javascript %}
    {{ parent() }}
    {% endblock %}

</body>

{% endblock %}