{% extends "base.html.twig" %}

{% block title %}Admin{% endblock %}

{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="{{ '@panel/dist/panel.css' | assets }}">
{% endblock %}

{% block head_javascript %}
{{ parent() }}
<script src="{{ '@panel/dist/panel.js' | assets }}"></script>
{% endblock %}

{% block body %}

<body class="panel-body" id="panel-body">

    {% include "@parts::panel/navigation.html.twig" %}

    {% block main %}
    <main class="panel-main" id="panel-main">


        {% block header %}
        <header class="panel-header">


            <button class="ms-3 sidebar-toggle btn btn-outline-primary me-3 border-0" onclick="openNav()" id="sidebar-toggle"></button>
            {% block header_title_outer %}
            <h1 class="panel-title">{% block header_title %}MerapiPanel{% endblock %}</h1>
            {% endblock %}

        </header>
        {% endblock %}

        <nav class="flex w-full px-2" aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% block breadcrumb %}
                <li class="breadcrumb-item"><a href="{{ '/' |admin_url}}">Home</a></li>
                {% endblock %}
            </ol>
        </nav>

        {% block container %}
        <div class="panel-container">


            {% block subheader_outer %}
            <div class="panel-subheader" id="panel-subheader">
                {% block subheader %}


                {% block subheader_search_outer %}

                <div class="panel-search" id="panel-subheader-search">
                    {% block subheader_search %}

                    <input class="form-input" type="text" placeholder="Search">
                    <button class="ms-2 btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>

                    {% endblock %}
                </div>

                {% endblock %}


                {% block subheader_actions_outer %}
                <div id="subheader-actions" class="subheader-actions">
                    {% block subheader_actions %}
                    <button class="btn menu-toggle" onclick="toggleMenu()"></button>
                    {% block subheader_menu_outer %}
                    <div id="subheader-menu" class="subheader-menu">
                        {% block subheader_menu %}{% endblock %}
                    </div>
                    {% endblock %}

                    {% endblock %}
                </div>
                {% endblock %}

                {% endblock %}


            </div>
            {% endblock %}

            {% block content_outer %}
            <div class="panel-content">
                {% block content %}
                <div class="flex flex-wrap justify-center items-center h-[80vh] w-full" id="panel-content">
                    <div class="text-center">
                        <h2 class="text-3xl font-bold">Coming soon</h2>
                        <p>this is base template, you should not see this</p>
                    </div>
                </div>
                {% endblock %}
            </div>
            {% endblock %}

        </div>
        {% endblock %}

    </main>
    {% endblock %}

    <script>
        function toggleMenu() {
            $("#subheader-actions").toggleClass("open");
            $(document).on('click', function (e) {
                if (!$(e.target).closest('#subheader-actions').length) {
                    $("#subheader-actions").removeClass("open");
                }
            })
        }
    </script>

    {% block javascript %}
    {{ parent() }}
    {% endblock %}

</body>

{% endblock %}