{% extends "@panel/base.html.twig" %}


{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="{{ '@theme/style/theme.css' | assets }}">
{% endblock %}

{% block header_title %}Theme{% endblock %}
{% block breadcrumb_item %}
<li class="breadcrumb-item"><a href="{{ '/' |admin_url}}">Home</a></li>
<li class="breadcrumb-item">Theme</li>
{% endblock %}

{% set themes = admin.theme_fetchAll %}
{% set active = admin.theme_active %}

{% block content %}

<div class="flex flex-wrap gap-5">
    <div class="w-full">
        <div class="theme shadow active mx-auto">
            <section>
                <header class="theme-header">
                    <img class="theme-thumbnail" src="{{ active.thumbnail }}" alt="thumbnail {{ active.name }}">
                    <h4 class="theme-title">{{ active.name }}</h4>
                </header>
                <article class="p-3">
                    {% if active.description %}
                    <p>{{ active.description }}</p>
                    {% else %}
                    <p class="text-disabled">No description</p>
                    {% endif %}
                </article>
            </section>
            <div class="!absolute right-2 top-2 dropdown">
                <button data-act-trigger="dropdown" class="dropdown-toggle"></button>
                <ul class="dropdown-menu min-w-[150px]">
                    <li class="dropdown-item"><i class="fa-regular fa-pen-to-square"></i> Edit</li>
                    <li class="dropdown-item"><i class="fa-solid fa-circle-info"></i> Details</li>
                    <li class="dropdown-item hover:text-red-600 hover:!bg-red-50"><i
                            class="fa-regular fa-trash-can"></i>Delete</li>
                </ul>
            </div>
            <div class="active-dot tooltip tooltip-left">
                <div class="tooltip-content text-nowrap">
                    <h1>Active</h1>
                    <p>This theme is active</p>
                </div>
            </div>
        </div>
    </div>

    {% for theme in themes %}

    <div class="theme shadow">
        <section>
            <header class="theme-header">
                <img class="theme-thumbnail" src="{{ theme.thumbnail }}" alt="thumbnail {{ theme.name }}">
                <h4 class="theme-title">{{ theme.name }}</h4>
            </header>
            <article class="p-3">
                {% if theme.description %}
                <p>{{ theme.description }}</p>
                {% else %}
                <p class="text-disabled">No description</p>
                {% endif %}

                <div class="theme-footer float-right mb-3">
                    {% if active.id != theme.id %}
                    <button class="btn btn-sm hover:text-blue-400 hover:bg-blue-50"
                        onclick="editTheme('{{ theme.id }}')">Enable</button>
                    {% endif %}
                </div>
            </article>
        </section>
        <div class="!absolute right-2 top-2 dropdown">
            <button data-act-trigger="dropdown" class="dropdown-toggle"></button>
            <ul class="dropdown-menu min-w-[150px]">
                <li class="dropdown-item"><i class="fa-regular fa-pen-to-square"></i> Edit</li>
                <li class="dropdown-item"><i class="fa-solid fa-circle-info"></i> Details</li>
                <li class="dropdown-item hover:text-red-600 hover:!bg-red-50"><i class="fa-regular fa-trash-can"></i>
                    Delete</li>
            </ul>

        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}


{% block javascript %}
{{parent()}}
<script>
    $(() => {

    })
</script>
{% endblock %}