{% extends "@admin::panel/base.html.twig" %}

{% block head_javascript %}
<script src="{{ '@templateEditor/dist/index.bundle.js' | assets }}"></script>
{% endblock %}


{% block stylesheet %}
<style>
    .gjs-pn-active {
        color: rgb(59 130 246);
    }

    .small-modal .gjs-mdl-dialog {
        max-width: 500px;
    }

    .gjs-one-bg {
        background-color: #384246;
    }
</style>
{% endblock %}


{% block body %}

<body>
    <div>
        <div id="gjs"></div>
    </div>


    {% block javascript %}
    {{ parent() }}

    {% if template %}
    <script>
        $(() => {
            merapi.editor.init({
                token: "{{ merapi_token() }}",
                
                editor: {
                    holder: "#gjs",
                    id: "{{ template.id }}",
                    params: [
                        {
                            type: "input",
                            label: "Title",
                            name: "name",
                            required: true,
                            placeholder: "Enter template title",
                            value: "{{ template.name }}"
                        },
                        {
                            type: "textarea",
                            label: "Description",
                            name: "description",
                            required: false,
                            placeholder: "Enter template description",
                            value: "{{ template.description }}"
                        },
                        {
                            label: "Template Id",
                            value: "{{ template.id }}",
                            name: "id"
                        }
                    ],
                    endpoint: {
                        fetch: "{{ 'template/endpoint' | admin_url | url }}",
                        script: "{{ 'template/initial-scripts' | admin_url | url }}",
                        save: "{{ 'template/endpoint' | admin_url | url }}"
                    },
                },
                assets: {
                    url: "{{ admin.FileManager_fetchJsonEndpoint }}",
                    name: "files",
                    upload: "{{ admin.FileManager_uploadEndpoint }}",
                },
                component: {
                    endpoint: {
                        fetch: "{{ 'template/component/fetch' | admin_url | url }}",
                        render: "{{ 'template/component/render' | admin_url | url }}"
                    }
                }
            });
        })
    </script>
    {% else %}
    <script>
        $(() => {

            window.merapi.editor.init({
                token: "{{ merapi_token() }}",
                editor: {
                    holder: "#gjs",
                    params: [
                        {
                            type: "input",
                            label: "Title",
                            name: "name",
                            required: true,
                            placeholder: "Enter template title"
                        },
                        {
                            type: "textarea",
                            label: "Description",
                            name: "description",
                            required: false,
                            placeholder: "Enter template description"
                        }
                    ],
                    endpoint: {
                        save: "{{ 'template/endpoint' | admin_url | url }}",
                        script: "{{ 'template/initial-scripts' | admin_url | url }}",
                        fetch: "{{ 'template/endpoint' | admin_url | url }}"
                    }
                },
                assets: {
                    url: "{{ admin.FileManager_fetchJsonEndpoint }}",
                    name: "files",
                    upload: "{{ admin.FileManager_uploadEndpoint }}",
                },
                component: {
                    endpoint: {
                        fetch: "{{ 'template/component/fetch' | admin_url | url }}",
                        render: "{{ 'template/component/render' | admin_url | url }}"
                    }
                }
            });
        })
    </script>
    {% endif %}

    {% endblock %}

</body>

{% endblock %}