{% extends "@panel/base.html.twig" %}


{% block header_title %}Dashboard{% endblock %}

{% block subheader %}{% endblock %}


{% block head_javascript %}
{{ parent() }}
<script src="{{ '@dashboard/dist/index.js' | assets }}"></script>
<script>
    var widgetPayload = {
        holder: "#widget-container",
        endpoints: {
            fetch: "{{ '/api/Dashboard/Widget/fetch' | access_path }}",
            save: "{{ '/api/Dashboard/Widget/save' | access_path }}",
            load: "{{ '/api/Dashboard/Widget/load' | access_path }}",
            script: {
                widgetHelper: "{{ '@dashboard/assets/dist/widget-helper.js' | assets }}"
            }
        }
    }
</script>
{% endblock %}



{% block content %}
<div class="widget-container" id="widget-container"></div>
{% endblock %}
