{% extends "/base.html.twig" %}

{% block page_title %}
{% if error.code == 999 %}
{{ 'Fatal Error' | trans}}
{% else %}
{{ error.type | trans }} {{ error.code }}
{% endif %}
{% endblock %}


{% block stylesheets %}
<style>
	* {
		box-sizing: border-box;
	}

	body,
	html {
		background-color: #232323;
		color: #ffffff;
		padding: 0;
		margin: 0;
		font-family: 'Courier New', Courier, monospace;
	}

	nav {
		position: sticky;
		top: 0;
		height: 55px;
		padding: 0.8rem 0.3rem;
		background: #1e1e1e;
		z-index: 999;
		box-shadow: 0 2px 4px #000000;
	}

	nav .container {
		margin: 0 auto;
		align-items: center;
	}

	nav .container span {
		font-weight: bold;
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		max-width: 1200px;
		margin: 1rem auto;
	}

	.container .col {
		flex: 50% 1 0;
		width: 100%;
		max-width: 600px;
		position: sticky;
		top: 55px;
	}

	pre {
		line-height: 0.8rem;
	}

	.snippet {

		background: #1a1a1a;
		border: 1px solid #ff0000;
		border-radius: 3px;

	}

	.snippet header {
		padding: 0 1rem;
		color: #fff;
		font-size: 0.8rem;
	}

	.snippet section {
		padding: 1rem;
		background: #000000;
		color: #fff;
		overflow-x: auto;
	}

	.snippet .highlight {
		background-color: #ff00007d;
		color: #fff;
		padding: 5px 0;
		display: block;
		margin: 0;
	}

	.content {
		padding: 1rem;
	}

	#more {
		display: none;
	}

	html, body {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}
</style>
{% endblock %}


{% block body %}
{% block content %}

<div style="position: fixed; height: 100vh; width: 100vw; background: #1e1e1e; overflow: hidden; top: 0; left: 0;">
	<nav>
		<div class="container">

			<span>{{ 'Error' | trans }}
				{{ 'Debug' | trans }}</span>

			<div style="margin-left: auto;">
				<?xml
					version="1.0" encoding="UTF-8"?>
				<!-- Created with Inkscape (http://www.inkscape.org/) -->
				<svg width="50px" height="38px" version="1.1" viewBox="0 0 153.55 105.12" xml:space="preserve"
					xmlns="http://www.w3.org/2000/svg">
					<g transform="translate(-23.302 -80.234)">
						<path transform="scale(.26458)"
							d="m88.107 698.87c1.995-3.2594 41.575-58.5 42.395-59.169 68.177-91.793 148.2-207.62 210.54-290.7 0.29256-0.33199 3.1004 2.3846 6.2397 6.037 3.1392 3.6523 8.4464 9.7518 11.794 13.554 3.3473 3.8026 9.4332 10.941 13.524 15.862 4.0911 4.9216 8.1943 8.9834 9.1182 9.0263 0.92387 0.0428 4.5754-4.3345 8.1146-9.7273 3.5392-5.3928 6.7467-10.109 7.128-10.481 0.38121-0.37192 11.336-16.615 24.344-36.095 18.063-27.051 24.02-35.039 25.215-33.811 0.86052 0.88422 6.9985 11.345 13.64 23.247 59.275 104.95 120.05 215.35 179.55 320.53 13.404 23.69 28.148 50.243 28.708 51.703 0.52678 1.3728-11.412 1.7177-59.454 1.7177h-60.113l-9.8883-17.244c-32.359-57.14-68.769-118.52-87.199-151.81-18.43-33.29-27.042-45.983-27.927-45.983-0.80489 0-3.3599 2.8625-9.0538 10.143-0.58172 0.74384-7.3912 10.329-15.132 21.301-7.741 10.972-14.487 19.948-14.992 19.948-0.5046 0-5.4014-4.9682-10.882-11.04-13.325-14.765-13.183-14.633-15.104-13.896-0.92428 0.35467-2.393 1.7858-3.2639 3.1802-0.87086 1.3944-7.8566 10.708-15.524 20.697-36.847 48.442-65.006 85.085-99.126 130.22-6.7462 8.9261-15.5 20.337-19.452 25.358l-7.1859 9.1289h-63.521c-50.467 0-63.308-0.34741-62.486-1.6905z"
							fill="#2a7fff" stroke-width="6.7622" />
					</g>
				</svg>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="col">

			<div class="content">
				<article class="snippet">
					<header>
						<h2>{{ error.file }}</h2>
					</header>
					<section>
						<pre>{{ error.snippet|raw }}</pre>
					</section>
				</article>


				{% if error.stack_trace %}
				<div>
					<h2>{{'Stack trace'|trans}}</h2>
					<ol style="list-style: none; margin: 0; padding: 0; margin-left: 0.8rem;">
						{% for err in error.stack_trace %}
						<li style="margin-bottom: 0.8rem;">
							{{ err }}
						</li>
						{% endfor %}
					</ol>
				</div>
				{% endif %}
			</div>
		</div>

		<div class="col ">
			<div class="content">
				{% if error.code == 999 %}
				<h1>{{ 'Fatal Error' | trans }}</h1>
				<h2>{{ error.type | trans}}</h2>
				{% else %}
				<h1>{{ error.type | trans}} {{ error.code }}</h1>
				{% endif %}
				<p>{{( error.message | length <= 800 ? error.message : ('<p>'~error.message | slice(0, 800)
						~ '<span id="dots">...</span><span id="more">' ~ error.message | slice(800, -1)
							~ '</span></p><button onclick="myFunction()" id="myBtn">Read more</button>' )) | raw }}</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% endblock %}


{% block javascripts %}
<script>

	function myFunction() {
		var dots = document.getElementById("dots");
		var moreText = document.getElementById("more");
		var btnText = document.getElementById("myBtn");

		if (dots.style.display === "none") {
			dots.style.display = "inline";
			btnText.innerHTML = "Read more";
			moreText.style.display = "none";
		} else {
			dots.style.display = "none";
			btnText.innerHTML = "Read less";
			moreText.style.display = "inline";
		}
	}

</script>
{% endblock %}