{% extends "base.html.twig" %}

{% block meta %}
<meta charset="utf-8">
<title>{% block meta_title %}Merapi panel{% endblock %}</title>
{% endblock %}

{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="{{ '@editor/dist/main.css' | assets }}">
<style>
	.editor-app {
		min-width: 1024px;
}
</style>
{% endblock %}

{% block head_javascript %}
{{ parent() }}
{% block config %}
{{ editor_config({
	config: {
		width: "100vw",
		height: "100vh",
		container: "#editor",
		canvas: {
			styles: [
                    "/vendor/bootstrap/css/bootstrap.min.css" | assets
                ],
			scripts: [
				"/vendor/bootstrap/js/bootstrap.bundle.min.js" | assets
			]
		},
		assetManager: {
			custom: true,
		},
	},
	fetchBlockURL: "/editor/api/load" | access_path
}) }}
{% endblock %}

<!-- @Panel/Scripts -->
{{ panel_render(_box.Panel.Scripts.getScripts()) }}
<!--/ @Panel/Scripts -->
{% endblock %}




{% block content %}
<div id="editor"></div>
{% endblock %}



{% block javascript %}
{{ parent() }}
<script src="{{ '@FileManager/dist/FileManager.js' | assets }}"></script>
<script src="{{ '@editor/dist/main.js' | assets }}?v={{ time() }}"></script>
<script>
	__.FileManager.config.enable_select_folder = false;
</script>
{% endblock %}
