{% extends "base.html.twig" %}

{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="{{ '@editor/dist/main.css' | assets }}">
{% endblock %}

{% block head_javascript %}
{{ parent() }}
{% block config %}
{{ editor_config({
	config: {
		width: "100vw",
		height: "100vh",
		container: "#editor",
		canvas: {
			styles: [
                    "/vendor/bootstrap/css/bootstrap.min.css" | assets
                ],
			scripts: [
				"/vendor/bootstrap/js/bootstrap.bundle.min.js" | assets
			]
		},
		assetManager: {
			custom: true,
			assets: [],
			upload: "/api/FileManager/upload" | access_path,
			uploadName: "files",
			fetch: "/api/FileManager/fetchFile?start=0&limit=10" | access_path
		}
	},
	fetchBlockURL: "/editor/api/load" | access_path
}) }}
{% endblock %}
{% endblock %}




{% block content %}
<div id="editor"></div>
{% endblock %}



{% block javascript %}
{{ parent() }}
<script src="{{ '@editor/dist/main.js' | assets }}?v={{ time() }}"></script>
{% endblock %}
